/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background-color: $background-color;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &.page-link__active {
      font-weight: bold;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      >svg {
        fill: $grey-color-dark;
      }
    }

    input~.trigger {
      clear: both;
      display: none;
    }

    input:checked~.trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color: $background-color;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.spacer {
  margin: 1rem;
}

/**
 * Page content
 */
.page {
  background-color: $background-color;
  padding: 2rem;
  border: 1px solid $border-color;
  border-radius: .5rem;
}

.page-content {
  flex: 1;
}

.content {
  flex: 1;
  padding: 2rem 1rem;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 1rem;

  .flex-content {
    &.quarter {
      width: 25%;
    }

    &.half {
      width: 40%;
    }

    &.third {
      width: 30%;
    }

    flex-grow:1;
    flex-shrink:1;
    flex: 25% 1 0px;

    @include media-query($on-laptop) {
      width: 45%;

      &.quarter,
      &.half,
      &.third {
        width: 45%;
      }
    }

    @include media-query($on-palm) {
      width: 100%;

      &.quarter,
      &.half,
      &.third {
        width: 100%;
      }
    }
  }
}

.block {
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $border-color;
  border-radius: .5rem;
  height: 100%;

  &.raw {
    .block__content {
      padding: 0;
    }
  }

  &.not-full-height {
    height: auto;
  }

  .block__title {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 1px solid $border-color;

    h2 {
      margin: 0;
      padding: 1rem 0.5rem;
    }
  }

  .block__content {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
    display: grid;
    gap: 1rem;

    a:not(.competition-list__link a) {
      display: block;
      width: 80%;
      padding: 1rem;
      text-decoration: none;
      border-radius: .5rem;
      text-align: center;
      margin: 1rem auto;
      font-size: 1rem;
      border: 1px solid $border-color;
      line-height: 1.5rem;
      color: #000;
      background-color: rgba(255, 255, 255, 0.75);
      transition-duration: $transition-time;

      &:hover {
        background-color: #ffffff;
        font-size: 1.1rem;
      }
    }
  }
}

.competition-list {
  margin: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  width: 100%;

  @include media-query ($on-palm) {
    grid-template-columns: repeat(2, 1fr);

  }

  .competition-list__link {
    aspect-ratio: 1;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      text-shadow: 0px 0px 4px #000;
      background-size: 100% 100%;
      transition-duration: $transition-time;

      &:hover {
        font-size: 1.75rem;
      }
    }

  }
}

.competition-page {
  padding: 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
    h1 {
      flex: 1;
      margin: 0;
      text-align: center;
    }

    .header-navigation {
      color: inherit;
      text-decoration: none;
      font-size: 0.9rem;
      white-space: nowrap;

      &-previous {
        text-align: left;
      }

      &-next {
        text-align: right;
      }

      &-placeholder {
        width: 4rem;
        visibility: hidden;
      }
    }
  }

  .competition-information__links,
  .sprint-information__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: .5rem;
    flex-wrap: wrap;

    a {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: .25rem;
      color: #000;
      background-color: #f0f0f0;
      border: 1px solid #000;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      cursor: pointer;
      transition-duration: $transition-time;
      word-wrap: break-word;
      white-space: normal;

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.sprint-information__links {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tabs-nav {
  display: flex;
  gap: .5rem;

  .tab-button {
    font-family: $base-font-family;
    transition-duration: $transition-time;
    background-color: rgba(255, 255, 255, 0.666);
    border: 1px solid #aaa;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:hover {
      background-color: #fff;
    }

    &.active {
      font-weight: bold;
      background-color: #ffffff;
    }
  }
}

.tab-pane {
  background-color: #ffffff;
  border: 1px solid #aaa;
  padding: 1rem;
  display: none;

  &.active {
    display: block;
  }
}

.loader {
  img { 
    animation: spin 1s linear infinite;
    
    width: 50px;
    height: 50px;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}